<!-- 必须先基础xadmin基础模板 -->
{% extends 'base_site.html' %}


{% block content %}
    {{ carNewsCount }} <br />
    {{ digitNewsCount }}<br />
    {{ domesticNewsCount }}<br />
    {{ eduNewsCount }}<br />
    {{ entertainmentNewsCount }}<br />
    {{ estateNewsCount }}<br />
    {{ financeNewsCount }}<br />
    {{ gameNewsCount }}<br />
    {{ internationalNewsCount }}<br />
    {{ internetNewsCount }}<br />
    {{ militaryNewsCount }}<br />
    {{ societyNewsCount }}<br />
    {{ sportNewsCount }}<br />
    {{ techNewsCount }}<br />
    {{ allNewsCount }}<br />

    {{ lastUpdateTime }}<br />
    {{ nextUpdateTime }}<br />

    {{ carUpdateCount }}<br />
    {{ digitUpdateCount }}<br />
    {{ domesticUpdateCount }}<br />
    {{ eduUpdateCount }}<br />
    {{ entertainmentUpdateCount }}<br />
    {{ estateUpdateCount }}<br />
    {{ financeUpdateCount }}<br />
    {{ gameUpdateCount }}<br />
    {{ internationalUpdateCount }}<br />
    {{ internetUpdateCount }}<br />
    {{ militaryUpdateCount }}<br />
    {{ societyUpdateCount }}<br />
    {{ sportUpdateCount }}<br />
    {{ techUpdateCount }}<br />
    {{ allUpdateCount }}<br />



{% endblock %}