{% extends 'xadmin/base_site.html' %}


{% block content %}
    <!-- 首页小组件代码 -->
   <div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="hero-unit">
				<h1>
					新闻数据后台管理系统
				</h1>

				<p>
					<strong>姓名：周亮</strong>
				</p>
				<p>
					<strong>班级：15052313</strong>
				</p>
				<p>
					<strong>学号：15051349</strong>
				</p>
				<p>
					<strong>课题： 基于Android的新闻推荐客户端设计与实现</strong>
				</p>
				<p>
					<strong>指导教师： 陈佰平</strong>
				</p>
				</br>

				<p>
					基于开源Django管理框架<a href="https://github.com/sshwsfc/xadmin">Xadmin</a>实现
				</p>


			</div>
		</div>
	</div>
</div>
{% endblock %}